body {
    background-color: #dddddd;
    /* background-attachment: fixed; */
}

.wrapper {
    border: 1px solid #c3c3c3;
    border-radius: 30px;
    width: 400px;
    margin: 100px auto;
    box-shadow: 0px -2px 5px #c4c4c4;
    background-color: white;
}

.header {
    border-bottom: 1px solid #dddddd;
    box-sizing: border-box;
}

.title {
    margin: 32px auto;
    color: #ff1493;
    font-weight: bolder;
    font-size: 27px;
    border-left: 8px solid #ff1493;
    padding-left: 20px;
}

.list-container {
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 287px;
    justify-content: space-between;
    padding: 27px;
    text-align: left;
    box-shadow: 0px 5px 10px #c4c4c4;
    border-radius: 0px 0px 30px 30px;
    border-top: 1px solid #dddddd;
}

.list-container div {
    width: 100%;
    height: 48px;
    border: 4px solid #aaaaaa;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px;
    background-color: white;
}

.list-container .click {
    border: 4px solid #1e91ff;
    color: #1e91ff;
}